{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Add  Classvise subject and Staff
{% endblock page_title %}
{% block main_content %}
<div class="row">
    <!-- SEMESTER LIST -->
    <div class="col-md-9">
        <table class="table border">
            <thead class="thead-dark">
                <tr>                    
                    <th scope="col">ID</th>
                    <th scope="col">Class</th> 
                     <th scope="col">Class Teacher</th>                    
                     <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for course in courses %}
                    <tr>
                      <td>{{ course.id }}</td>
                      <td>{{ course.course_name }}</td>
                      <td>{{ course.staff_id.first_name }}</td>
                      <td><a href="/edit_course/{{ course.id }}" class="btn btn-success">Edit</a>
                      <a href="/delete_class/{{ course.id }}"  class="btn btn-tool"> <i class="fas fa-times"></i></a></td>
                    </tr>
                  {% endfor %}
                </tr>

            </tbody>
        </table>
    </div>

    <!-- SIDEBAR -->
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="" data-toggle="modal" data-target="#exampleModal">Add Class</a>
            </li>
            <!-- Add Department Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Course</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div> <!-- /modal header -->
                        <div class="modal-body">
            <form role="form" action="/add_course_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Class Name </label>
                    <input type="text" class="form-control" name="course" placeholder="Enter class">
                  </div>
                   <div class="form-group">
                    <label>Class Teacher</label>
                    <select class="form-control" value="{{ staff.id }}" name="staff">
                        {% for staff in staffs %}
                          <option value="{{ staff.id }}">{{ staff.first_name }} {{ staff.last_name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                   <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Add Class</button>
                </div>
              </form>
                        <!-- /modal body -->

                </div>
            </div>
        </ul>
    </div> <!-- /sidebar -->
</div>



{% endblock main_content %}
