{% extends 'staff_template/base_template.html' %}
{% block page_title %}
Student assisgnment
{% endblock page_title %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Assignment</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/add_assignment_save" method="post" enctype="multipart/form-data"> 
                  {% csrf_token %}
                <div class="card-body">
                <div class="form-group">
                    <label>class </label>
                    <select class="form-control" name="course">
                        {% for course_name in course_name %}
                          <option value="{{ course_name.id }}">{{ course_name.course_name }}-{{ course_name.division}}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Assignment Name </label>
                    <input type="text" class="form-control" name="assign_name" placeholder="Assignment name">
                  </div>
                  <div class="form-group">
                    <label>Assignment </label>
                    <textarea class="form-control" rows="6" name="assign_text"></textarea>
                  </div>
                  <div class="form-group">
                    <label>Assignment file upload </label>
                    <input type="file" class="form-control" name="file">
                  </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Publish Assignment</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
                    <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>


          </div>
          </div>
      </div>
    </section>
{% endblock main_content %}


  <!-- Modal -->
